<template>
  <div class="carousel" tabindex="0">
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: ["tickTime", "clicked"],
  data() {
    return {
      index: 0,
      slides: [],
      slideDirection: "",
      timer: 7500,
      interval: null,
    };
  },
  computed: {
    slidesLength() {
      return this.slides.length;
    },
  },
  mounted() {
    this.slides = this.$children;
    this.slides.map((slide, index) => {
      slide.index = index;
    });
  },
  created() {
    this.interval = setInterval(() => {
      this.next();
    }, this.timer);
  },
  methods: {
    next() {
      this.index++;
      if (this.index >= this.slidesLength) {
        this.index = 0;
      }
      this.slideDirection = "slide-right";
    },
    prev() {
      this.index--;
      if (this.index < 0) {
        this.index = this.slidesLength - 1;
      }
      this.slideDirection = "slide-left";
    },
  },
};
</script>
<style>
</style>