<template>
  <message-wrapper
    :key="state.componentKey"
    :timeout="timer.isActive"
    :time="timer.time"
    :addTimeStatus="timer.addTimeStatus"
  >
    <default-layout
      :key="state.componentKey"
      :headerTitle="state.title"
      :showNextButton="false"
      :showCancelButton="true"
      :cancelButtonLabel="state.cancelLabel"
      :cancelButtonClicked="cancel"
    >
      <div class="container">
        <div class="spacer"></div>
        <div class="list">
          <div
            :key="paymethod.cashTypeId"
            v-for="paymethod in this.state.payTypes"
          >
            <div
              class="box"
              v-bind:class="{ disabled: !paymethod.isEnable }"
              @click="selectPayMethod(paymethod)"
            >
              <!-- <div class="icon">
                <img
                  src="
                    ../../assets/ikon/ikon_nakit_para.png
                  "
                  alt=""
                  srcset=""
                />
              </div>-->
              <div class="label">{{ paymethod.name }}</div>
            </div>
          </div>
        </div>
        <div class="spacer button"></div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import { CashTypeActions } from "@/constants/cash-type-constants";
import { mapState } from "vuex";

export default {
  data() {
    return {
      timer: {
        time: 40000,
        isActive: true,
        addTimeStatus: false,
      },
    }
  },
  methods: {
    // back() {
    //   console.log("sads");
    //   this.$store.dispatch(CashTypeActions.BACK);
    // },
    cancel() {
      this.$store.dispatch(CashTypeActions.CANCEL);
    },
    selectPayMethod(payMethod) {
      if (payMethod.isEnable)
        this.$store.dispatch(CashTypeActions.CASH_TYPE_SELECTED, payMethod);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.cashtypemodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.container {
  flex: 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .spacer {
    flex: 2;
    &.button {
      flex: 1;
    }
  }
  .list {
    flex: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 550px;
    overflow: auto;
    .box {
      margin: 0px 10px 18px 10px;
      padding: 15px 10px;
      border: 1px rgb(0, 110, 255) solid;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 150px;
      height: 150px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .label {
        color: darkblue;
        font-size: 16px;
        text-align: center;
      }
      &.disabled {
        background-color: grey;
        .label {
          color: rgb(102, 101, 101);
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (min-height: 1200px) {
  .container {
    max-width: 1080px !important;
  }
  .list {
    flex: 5 !important;
    .box {
      width: 350px !important;
      height: 200px !important;
      .label {
        font-size: 50px !important;
        font-weight: bold;
      }
    }
  }
}
</style>