<template>
  <message-wrapper
    :timeout="timer.isActive"
    :time="timer.time"
    :addTimeStatus="timer.addTimeStatus"
  >
    <default-layout
      :key="state.componentKey"
      :headerTitle="this.state.title"
      :showNextButton="true"
      :nextButtonClicked="next"
      :nextButtonLabel="this.state.nextLabel"
      :showCancelButton="true"
      :cancelButtonClicked="cancel"
      :cancelButtonLabel="this.state.cancelLabel"
      :nextButtonDisable="this.state.nextButtonDisable"
    >
      <div class="page">
        <div class="content">
          <div :ref="'queries'" class="options">
            <div
              class="option"
              v-bind:class="{
                selected: query.id == state.selectedQueryType.id,
              }"
              :key="query.id"
              v-for="query in this.state.queryTypes"
              @click="selectedQuery(query)"
            >
              <span>{{ query.name }}</span>
            </div>
          </div>
          <div class="content-center">
            <div :ref="`inputarea`" class="input-area">
              <input
                type="text"
                v-model="state.value"
                v-bind:placeholder="state.selectedQueryType.name"
                disabled
              />

              <div
                class="remove-button"
                v-bind:class="{
                  show: state.value != null && state.value.length > 0,
                }"
                @click="resetValue()"
              >
                <v-icon size="50">{{ svgPath }}</v-icon>
              </div>
            </div>
            <number-pad :onPressed="enter" :clear="clear" />
          </div>
          <div class="button-area"></div>
        </div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
//import gsap from 'gsap'
import { mapState } from "vuex";
import { mdiClose } from "@mdi/js";
import { InquiryModuleActions } from "@/constants/inquiry-constants";
import { MessageModuleActions } from "@/constants/message-constants";

export default {
  data() {
    return {
      timer: {
        isActive: true,
        time: 40000,
        addTimeStatus: true,
      },
      svgPath: mdiClose,
      selectedNumber: -25,
    };
  },
  mounted() {
    // const { inputarea, queries } = this.$refs
    // gsap.from(queries, {y: -100, duration: 0.5, opacity: 0.5})
    // gsap.from(inputarea, {y: -50, duration: 0.5, opacity: 0, delay: 0.2})
  },
  methods: {
    clear() {

      ////// Sil butonu timer ı restartlar
      // this.$store.dispatch(
      //   MessageModuleActions.Restart,
      //   {
      //     time: this.timer.time,
      //     addTimeStatus: this.timer.addTimeStatus,
      //   },
      //   { root: true }
      // );
      //////

      
      this.$store.dispatch(InquiryModuleActions.SELECTED_VALUE_CLEAR);
    },
    resetValue() {
      this.$store.dispatch(InquiryModuleActions.RESET_VALUE);
    },
    enter(data) {
      // Timer resetleme
      this.$store.dispatch(
        MessageModuleActions.Restart,
        {
          time: this.timer.time,
          addTimeStatus: this.timer.addTimeStatus,
        },
        { root: true }
      );

      this.$store.dispatch(InquiryModuleActions.CHANGE_VALUE, {
        value: data,
      });
    },
    selectedQuery(query) {
      this.$store.dispatch(InquiryModuleActions.SELECTED_QTYPE, query);
    },
    next() {
      this.$store.dispatch(InquiryModuleActions.NEXT);
    },
    // back() {
    //   this.$store.dispatch(InquiryModuleActions.BACK);
    // },
    cancel() {
      this.$store.dispatch(InquiryModuleActions.CANCEL);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.debtinquirymodule,
    }),
  },
};
</script>

<style scoped lang="scss">
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .options {
      width: 100%;
      height: 100%;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      .option {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 10px 20px;
        color: #fff;
        text-align: center;
        transition: 0.3s;
        &.selected {
          background-color: white;
          color: darkblue;
        }
      }
    }
    .content-center {
      margin-top: 100px;
      margin-right: 50px;
      width: 100%;
      height: 100%;
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .input-area {
        width: 85%;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px 10px 10px 25px;
        display: flex;
        justify-content: space-between;
        input {
          width: 90%;
          text-align: start;
          outline: none;
          border: none;
          font-size: 20px;
        }
        .remove-button {
          display: none;
          &.show {
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .button-area {
      width: 100%;
      height: 100%;
      flex: 1;
    }
  }
}
@media screen and (min-height: 1200px) {
  .content {
    flex-direction: column !important;
    align-items: start !important;
    .options {
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      flex: 1 !important;
      .option {
        height: 120px !important;
        padding: 20px !important;
        font-size: 35px !important;
      }
    }
    .content-center {
      flex: 4 !important;
      margin-top: 0px !important;
      margin-right: 0px !important;
      justify-content: start !important;
      .input-area {
        input {
          padding: 20px 0 !important;
          font-size: 40px !important;
        }
      }
    }
    .button-area {
      display: none !important;
    }
  }
}
</style>