<template>
  <message-wrapper>
  <default-layout
    :key="state.componentKey"
    :showHeader="false"
    :showPrevButton="false"
  >
    <div class="page">
      <div class="content-center">
        <span class="message">
          {{ state.infoMessage }}
        </span>
      </div>
    </div>
  </default-layout>
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";

export default {
  methods: {
    cancel() {
      console.log("EksLoad cancel çalışmamalısınız");
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.eksloadmodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    .message {
      color: #fff;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
  }
  @media screen and (min-height: 1200px) {
    .content-center {
      padding: 30px !important;
      .message {
        font-size: 45px !important;
      }
    }
  }
}
</style>