<template>
  <div class="eod-container">
    <date/>
    <div class="money-state-container">
      <div class="money-state">
        <div class="recycler">
          <div class="title">Recycler</div>
          <banknot-table :tableKey="'recycler'" :items="state.recyclerList" />
        </div>
        <div class="silo">
          <div class="title">Silo</div>
          <banknot-table :tableKey="'silo'" :items="state.siloList" />
        </div>
      </div>
    </div>

    <div class="last-state-container">
      <div class="kaset">
        <div class="title">Kaset</div>
        <banknot-table :tableKey="'kaset'" :items="state.kasetList" />
        <div class="total">TOPLAM : {{ state.kasetTotal }}</div>
      </div>
      <div class="cash-box-state">
        <div class="title">Kasa Durumu</div>
        <banknot-table :tableKey="'kaset'" :items="state.cashBoxList" />
        <div class="total">TOPLAM : {{ state.cashBoxTotal }}</div>
      </div>
    </div>

    <div class="last-section">
      <div class="total-state">
        <div class="total-labels">
          <span>NAKİT GENEL TOPLAM :</span>
          <span>KREDİ KARTI GENEL TOPLAM :</span>
          <span>GENEL TOPLAM :</span>
          <span>İCMAL :</span>
        </div>
        <div class="total-values">
          <span>{{ state.cashTotal }}</span>
          <span>{{ state.creditTotal }}</span>
          <span>{{ state.overallTotal }}</span>
          <span>{{ state.icmal }}</span>
        </div>
      </div>
    </div>

    <log-area :logList="state.logList" />

    <div class="button-section">
      <custom-button
        :click="menuButton()"
        :label="'Menü'"
        :mdiIcon="'mdi-home'"
      />
      <div class="empty"></div>
      <custom-button
        :click="processButton()"
        :label="'İşle'"
        :mdiIcon="'mdi-location-enter'"
      />
      <custom-button
        :click="printButton()"
        :label="'Yazdır'"
        :mdiIcon="'mdi-printer'"
      />
    </div>
  </div>
</template>

<script>
import { EodActions } from "@/constants/eod-constants";
import { mapState } from "vuex";

export default {
  data() {
    return {
      date:""
    };
  },
  methods: {
    printButton() {
      console.log("print");
      this.$store.dispatch(EodActions.PRINT);
    },
    processButton() {
      console.log("process");
      this.$store.dispatch(EodActions.PROCESS);
    },
    menuButton() {
      console.log("menü");
      this.$store.dispatch(EodActions.MENU);
    },
    showDate() {
      this.date = Date()
      console.log(this.date)
    }
  },

  computed: {
    ...mapState({
      state: (state) => state.eodmodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.eod-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .money-state-container {
    flex: 3;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    span {
      font-weight: bold;
      font-size: 35px;
      color: #fff;
    }
    .money-state {
      display: flex;
      .recycler {
        margin: 20px;
        flex: 1;
        border: 3px solid #fff;
        border-top: none;
      }
      .silo {
        margin: 20px;
        flex: 1;
        border: 3px solid #fff;
        border-top: none;
      }
    }
  }
  .title {
    padding: 5px;
    font-weight: bold;
    font-size: 35px;
    color: #fff;
    background-color: #6d71ed;
  }
  .last-state-container {
    flex: 3;
    display: flex;
    text-align: center;
    .cash-box-state {
      display: flex;
      flex-direction: column;
      flex: 1;
      border: 3px solid #fff;
      border-top: none;
      margin: 20px;
    }

    .kaset {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 20px;
      border: 3px solid #fff;
      border-top: none;
    }
  }
  .last-section {
    flex: 1;
    margin: 15px 0;
    width: 100%;
    display: flex;
    .total-state {
      flex: 1;
      display: flex;
      width: 100%;
      color: #fff;
      font-weight: 500;
      font-size: 30px;
      margin: 0 10%;
      .total-labels {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .total-values {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
  .log-container {
    flex: 3;
    .log-area {
      width: 96%!important;
    }
  }
  .total {
    background-color: #abb0de;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
  .button-section {
    padding: 35px 25px;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    height: 165px;
    .empty {
      width: 125px;
    }
  }
}
</style>