<template>
  <div class="home">
    <button @click="nextPage">Başlat</button>
  </div>
</template>

<script>
import Vue from "vue";
import { ScreenEnum } from "@/enums/screen_enum.js";
import { SelectionCommand } from '@/enums/command.js';

export default {
  name: "Home",
  methods: {
    nextPage() {
      var body = {};
      body.cmd = SelectionCommand.SelectionLoad;
      body.screen = ScreenEnum.Selection;
      body.data = "";
      console.log(body);
      Vue.prototype.$invokeMethod(body);
    },
  },
};
</script>

<style scoped lang="scss">
  .home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
</style>
