<template>
  <div class="page">
    <h1>
      LÜTFEN BEKLEYİN
    </h1>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      state: (state) => state.initializemodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 45px;
  text-align: center;
}
</style>