<template>
  <message-wrapper>
    <div class="page" @click="next">
      <video width="1080" height="1920" autoplay muted>
        <source src="../assets/video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </message-wrapper>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  methods: {
    ...mapActions("intromodule", ["nextScreen"]),
    next() {
      this.nextScreen();
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.intromodule,
    }),
  },
};
</script>

<style scoped lang="scss">
</style>