<template>
  <div>
    <div class="button-section">
      <custom-button :click="close" :label="'Kapat'" :mdiIcon="'mdi-close'" />
    </div>
    <div class="alarm-header">
      <span class="label">Öncelik</span>
      <span class="label">Alarm</span>
      <span class="label">Tarih</span>
      <span class="label">Kaynak</span>
    </div>
    <div
      class="information"
      :key="index"
      :class="{
        even: index % 2 === 0,
      }"
      v-for="(alarm, index) in state.alarmList"
    >
      <div class="priority">{{ alarm.priority }}</div>
      <div class="alarm">{{ alarm.alarm }}</div>
      <div class="date">{{ alarm.date }}</div>
      <div class="source">{{ alarm.source }}</div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      state: (state) => state.opalarmmodule,
    }),
  },
};
</script>

<style scope lang="scss">
.alarm-header {
  display: flex;
  height: 3vh;
  width: 100%;
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
  .label {
    flex-direction: row;
    display: flex;
    flex: 4;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 35px;
  }
}
.information {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  
  .priority {
    flex: 4;
    font-size: 20px;
  }
  .alarm {
    flex: 4;
    font-size: 20px;
  }
  .date {
    flex: 4;
    font-size: 20px;
  }
  .source {
    flex: 4;
    font-size: 20px;
  }
  &.even {
    background-color: #1d4f6a;
  }
}

.button-section {
  padding: 35px 15px;
  flex: 1;
  display: flex;
  justify-content: end;
  height: 165px;
  .empty {
    width: 125px;
  }
}
</style>