<template>
  <message-wrapper>
    <default-layout
      :showHeader="false"
      :cancelButtonClicked="cancel"
      :cancelButtonLabel="this.cancelLabel"
      :showCancelButton="true"
    >
      <div class="section-one">
        <div class="text-area">
          <div class="labels">
            <span>Makbuz Tarihi </span>
            <span>Abone No </span>
          </div>
          <div class="inputs">
            <input type="date" @input="changeDate($event.target.value)" />
            <div @click="selectInput()">
              <input type="text" v-model="aboneNo" disabled />
            </div>
          </div>
        </div>
        <div class="button-area">
          <div class="btn" @click="submit()">
            <v-icon dark color="#fff" class="icon" size="64">
              mdi-database-search
            </v-icon>
            <span>Sorgula</span>
          </div>
          <div class="btn" @click="print()">
            <v-icon dark color="#fff" class="icon" size="64">
              mdi-printer
            </v-icon>
            <span>Makbuz</span>
          </div>
        </div>
      </div>
      <div class="makbuz-table">
        <div class="table-header">
          <div class="header">
            <span class="label">Tarih</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">Abone No</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">Makbuz No</span>
            <div class="underline"></div>
          </div>
        </div>
        <div class="table-content">
          <div
            class="content-box"
            :class="{
              selected: makbuz.makbuzNo === state.selectedMakbuzNo,
            }"
            :key="makbuz.makbuzNo"
            v-for="makbuz in state.makbuzList"
            @click="selectMakbuz(makbuz)"
          >
            <div class="content">{{ makbuz.tarih.checkLength(16) }}</div>
            <div class="content">{{ makbuz.aboneNo.checkLength(12) }}</div>
            <div class="content">{{ makbuz.makbuzNo.checkLength(11) }}</div>
          </div>
        </div>
      </div>
      <div class="log-section">
        <log-area :logList="state.logList" />
      </div>
      <keyboard-pad
        ref="keyboard"
        :onChanged="onChanged"
        :onSubmitted="onSubmitted"
      />
    </default-layout>
  </message-wrapper>
</template>

<script>

import { OpMakbuzActions } from "@/constants/op-makbuz-constants";
import { mapState } from "vuex";

export default {
  data() {
    return {
      cancelLabel: "Kapat",
      aboneNo: "",
      date: "",
    };
  },
  methods: {
    selectInput() {
      console.log("show Keyboard");
      this.showKeyboard(true);
    },
    selectMakbuz(makbuz) {
      this.$store.dispatch(OpMakbuzActions.SELECT_MAKBUZ, makbuz);
    },
    onChanged(data) {
      console.log("keyboard data : ", data);
      this.aboneNo = data;
      this.$forceUpdate();
    },
    onSubmitted(data) {
      this.showKeyboard(false);
      this.$store.dispatch(OpMakbuzActions.SUBMIT, {
        aboneNo: data,
        tarih: this.date,
      });
    },
    changeDate(val) {
      console.log("Değişti : ", val);
      this.date = val;
    },
    submit() {
      this.$store.dispatch(OpMakbuzActions.SUBMIT, {
        aboneNo: this.aboneNo,
        tarih: this.date,
      });
    },
    print() {
      this.$store.dispatch(OpMakbuzActions.PRINT);
    },
    cancel() {},
    showKeyboard(show) {
      this.$refs.keyboard.hideKeyboard(!show);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.opmakbuzmodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.section-one {
  display: flex;
  padding: 10px;
  margin-top: 40px;
  .text-area {
    flex: 3;
    height: 150px;
    color: #fff;
    font-size: 32px;
    display: flex;
    .labels {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: bolder;
    }
    .inputs {
      margin-left: 15px;
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input {
        width: 100%;
        padding: 5px;
        background-color: #fff;
        text-align: center;
      }
    }
  }
  .button-area {
    margin-left: 10px;
    flex: 2;
    display: flex;
    justify-content: space-around;
    .btn {
      margin: 15px 10px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      background-color: #1d4f6a;
      border-radius: 10px;
      box-shadow: 4px 11px 25px 2px rgb(22, 22, 22);
      span {
        margin-left: 5px;
        font-size: 30px;
        color: #fff;
        font-weight: bolder;
      }
    }
  }
}
.makbuz-table {
  margin-top: 65px;
  color: #fff;
  width: 100%;
  height: 50%;
  .table-header {
    font-size: 35px !important;
    margin-bottom: 25px;
    display: flex;
    font-weight: bold;
    .header {
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .underline {
        width: 100%;
        height: 3px !important;
        background-color: #fff;
      }
    }
  }
  .table-content {
    .content-box {
      display: flex;
      font-size: 35px !important;
      margin-top: 25px;
      margin-bottom: 8px !important;
      .content {
        flex: 1;
        text-align: center;
      }
      &.selected {
        background-color: #1d4f6a;
        border-radius: 10px;
      }
    }
  }
}
.log-section {
  margin-top: 55px;
}
@media screen and (min-height: 1080px) {
}
</style>