<template>
  <message-wrapper>
    <div class="container">
      <div class="title">
        <span>Operator Kullanıcı Adı</span>
        <span>{{ state.operatorName }}</span>
      </div>
      <div class="list">
        <div
          class="box"
          :key="procService.id"
          v-for="procService in this.state.svcs"
          @click="selectSvc(procService)"
        >
          <div class="label">{{ procService.name }}</div>
        </div>
      </div>
      <div class="button-section">
        <custom-button
          :click="close"
          :label="'Kapat'"
          :mdiIcon="'mdi-close'"
        />
        <custom-button
          :click="exit"
          :label="'ÇIKIŞ'"
          :mdiIcon="'mdi-exit-to-app'"
        />
        <custom-button
          :click="reset"
          :label="'RESET'"
          :mdiIcon="'mdi-sync'"
        />
      </div>
    </div>
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";
import { OpMenuModuleActions } from "@/constants/menu-constants";
import StoreExport from '@/constants/store-export'

export default {
  methods: {
    close() {
      console.log("close")
      this.$store.dispatch(StoreExport.StoreActions.INVOKE, { cmd: StoreExport.ScreenCommands.Close, screen: StoreExport.ScreenEnum.OpMenu})
    },
    exit() {
     this.$store.dispatch(StoreExport.StoreActions.INVOKE, { cmd: StoreExport.ScreenCommands.Exit, screen: StoreExport.ScreenEnum.OpMenu})
    },
    reset() {
      this.$store.dispatch(StoreExport.StoreActions.INVOKE, { cmd: StoreExport.ScreenCommands.Reset, screen: StoreExport.ScreenEnum.OpMenu})
    },
    selectSvc(procService) {
      this.$store.dispatch(OpMenuModuleActions.SELECT, procService);
    },
    back() {
      this.$store.dispatch(StoreExport.StoreActions.INVOKE, { cmd: StoreExport.ScreenCommands.Back, screen: StoreExport.ScreenEnum.OpMenu})
    },
    cancel() {
      this.$store.dispatch(StoreExport.StoreActions.INVOKE, { cmd: StoreExport.ScreenCommands.Cancel, screen: StoreExport.ScreenEnum.OpMenu})
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.opmenumodule,
    }),
  },
};
</script>

<style scoped lang="scss">
.container {
  flex: 1 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .spacer {
    flex: 2;
    &.button {
      flex: 1;
    }
  }
  .title {
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
  }
  .list {
    flex: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*height: 550px;*/
    overflow: auto;
    .box {
      margin: 0px 10px 18px 10px;
      padding: 15px 10px;
      border: 1px rgb(0, 110, 255) solid;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 150px;
      height: 150px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .label {
        color: darkblue;
        font-size: 16px;
        text-align: center;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .button-section {
    padding: 35px 15px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 165px;
    .empty {
      width: 125px;
    }
  }
}
@media screen and (min-height: 1200px) {
  .spacer {
    display: none !important;
  }
  .divider {
    margin-top: 25px !important;
  }
  .box {
    margin: 10px !important;
    width: 410px !important;
    height: 200px !important;
    padding: 0 20px !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    .icon {
      img {
        width: 110px !important;
        height: 110px !important;
      }
    }
    .label {
      flex: auto !important;
      font-size: 45px !important;
      font-weight: bold;
    }
  }
}
</style>