<template>
  <default-layout
    :key="state.componentKey"
    :showHeader="false"
    :showNextButton="state.btnNextEnabled"
    :nextButtonClicked="next"
    :showPrevButton="state.btnBackEnabled"
    :backButtonClicked="back"
  >
    <div class="recycler-container">
      <div class="title">{{ state.kioskName }}</div>

      <div class="recycler-table">
        <div class="table-header">
          <div class="header">
            <span class="label">Birim</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">İlk Değer</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">Mevcut</span>
            <div class="underline"></div>
          </div>
        </div>
        <div class="table-content">
          <div
            class="content-box"
            :key="index"
            v-for="(banknote, index) in state.banknotes"
          >
            <div class="content">{{ banknote.value }}</div>
            <div class="content">{{ banknote.initial }}</div>
            <div class="content">{{ banknote.present }}</div>
          </div>
        </div>
      </div>

      <log-area :logList="state.logList" />

      <div class="btn-area">
        <div
          class="btn"
          :class="{ disabled: !state.btnBNRStartEnabled }"
          @click="start()"
        >
          <span>Başla</span>
        </div>
        <div
          class="btn"
          :class="{ disabled: !state.btnBNRStopEnabled }"
          @click="stop()"
        >
          <span>Bitir</span>
        </div>
        <div
          class="btn"
          :class="{ disabled: !state.btnBNRResetEnabled }"
          @click="reset()"
        >
          <span>Reset</span>
        </div>
      </div>

      <div
        class="menu"
        v-if="state.btnMenuEnabled"
        @click="returnMenu()"
      >
        <div class="icon">
          <v-icon dark color="#fff" size="60"> mdi-home </v-icon>
          <span>Menu</span>
        </div>
      </div>
    </div>
  </default-layout>
</template>

<script>
import { mdiHome } from "@mdi/js";
import { mapState } from "vuex";
import {
  CashDispenseActions,
  BtnTypes,
} from "@/constants/cash-dispense-constants";

export default {
  data() {
    return {
      homePath: mdiHome,
    };
  },
  methods: {
    start() {
      this.$store.dispatch(CashDispenseActions.BUTTON_STATE, BtnTypes.START);
    },
    stop() {
      this.$store.dispatch(CashDispenseActions.BUTTON_STATE, BtnTypes.STOP);
    },
    reset() {
      this.$store.dispatch(CashDispenseActions.BUTTON_STATE, BtnTypes.RESET);
    },
    returnMenu() {
      this.$store.dispatch(CashDispenseActions.BUTTON_STATE, BtnTypes.MENU);
    },
    next() {
      this.$store.dispatch(CashDispenseActions.BUTTON_STATE, BtnTypes.NEXT);
    },
    back() {
      this.$store.dispatch(CashDispenseActions.BUTTON_STATE, BtnTypes.BACK);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.oprecyclermodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.recycler-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  .title {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
  }
  .recycler-table {
    width: 90%;
    .table-header {
      font-size: 35px !important;
      margin-bottom: 25px;
      display: flex;
      font-weight: bold;
      .header {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .underline {
          width: 100%;
          height: 3px !important;
          background-color: #fff;
        }
      }
    }
    .table-content {
      .content-box {
        display: flex;
        font-size: 35px !important;
        margin-bottom: 8px !important;
        .content {
          flex: 1;
          text-align: center;
        }
      }
    }
  }

  .btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
    .btn {
      margin-right: 35px;
      font-size: 40px;
      color: #fff;
      padding: 25px 35px;
      background-color: #1d4f6a;
      box-shadow: 4px 11px 25px 2px rgb(22, 22, 22);
      border-radius: 10px;
      &:last-child {
        margin-right: 0px;
      }
      &.disabled {
        background-color: grey;
        .label {
          color: rgb(102, 101, 101);
        }
      }
    }
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    .icon {
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.336);
      padding: 25px;
      border-radius: 10%;
      span {
        margin: 0 15px;
        font-size: 35px;
      }
    }
    &.disabled {
      background-color: grey;
      .label {
        color: rgb(102, 101, 101);
      }
    }
  }
}
</style>