<template>
  <default-layout
    :showHeader="false"
    :showNextButton="true"
    :nextButtonClicked="next"
    :showPrevButton="true"
    :backButtonClicked="back"
  >
    <div class="silo-container">
      <div class="title">Silo</div>

      <div class="silo-table">
        <div class="table-header">
          <div class="header">
            <span class="label">Ünite</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">Birim</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">İlk Değer</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">Mevcut</span>
            <div class="underline"></div>
          </div>
          <div class="header">
            <span class="label">Yeni</span>
            <div class="underline"></div>
          </div>
        </div>
        <div class="table-content">
          <div
            class="content-box"
            :class="{
              selected: silo.unite === state.selectedUnite,
            }"
            :key="silo.unite"
            v-for="silo in state.siloList"
            @click="selectUnite(silo)"
          >
            <div class="content">{{ silo.unite }}</div>
            <div class="content">{{ silo.value }}</div>
            <!--  -->
            <div class="content">{{ silo.initial }}</div>
            <div class="content">{{ silo.present }}</div>
            <div class="content">{{ silo.yeni }}</div>
          </div>
        </div>
      </div>

      <div class="pad-area">
        <input type="text" disabled v-model="this.value" placeholder="Tutar girin">
        <number-pad :onPressed="enter" :clear="clear"  />
      </div>

      <div class="btn-area">
        <div class="btn" @click="done()"><span>Tamam</span></div>
        <div class="btn" @click="save()"><span>Kaydet</span></div>
      </div>

      <div class="menu" @click="returnMenu()">
        <div class="icon">
          <v-icon dark color="#fff" size="60"> mdi-home </v-icon>
          <span>Menü</span>
        </div>
      </div>
    </div>
  </default-layout>
</template>

<script>
import { SiloActions, BtnTypes } from "@/constants/silo-constants";
import { mapState } from "vuex";

export default {
  data() {
    return {
      value: "",
    };
  },
  methods: {
    selectUnite(silo) {
      this.$store.dispatch(SiloActions.SELECT_UNITE, silo.unite);
    },
    enter(data) {
      this.value += data
    },
    clear() {
      this.value = this.value.slice(0, -1)
    },
    done() {
      this.$store.dispatch(SiloActions.UPDATE_SILO, this.value).then(() => {
        this.value = ""
      });
    },
    save() {
      this.$store.dispatch(SiloActions.SAVE);
    },
    returnMenu() {
      this.$store.dispatch(SiloActions.BUTTON_STATE, BtnTypes.MENU);
    },
    next() {
      this.$store.dispatch(SiloActions.BUTTON_STATE, BtnTypes.NEXT);
    },
    back() {
      this.$store.dispatch(SiloActions.BUTTON_STATE, BtnTypes.BACK);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.silomodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.silo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  .title {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
  }
  .silo-table {
    width: 90%;
    .table-header {
      font-size: 35px !important;
      margin-bottom: 25px;
      display: flex;
      font-weight: bold;
      .header {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .underline {
          width: 100%;
          height: 3px !important;
          background-color: #fff;
        }
      }
    }
    .table-content {
      .content-box {
        padding: 10px 0px;
        display: flex;
        font-size: 35px !important;
        margin-top: 25px;
        margin-bottom: 8px !important;
        .content {
          flex: 1;
          text-align: center;
        }
        &.selected {
          background-color: #1d4f6a;
          border-radius: 10px;
        }
      }
    }
  }
  .pad-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      color: #000;
      font-size: 40px;
      background-color: white;
      text-align: center;
      border-radius: 10px;
      padding: 20px;
    }
    .number-pad {
      margin: 20px 0px !important;
    }
  }
  .btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
    .btn {
      margin-right: 35px;
      font-size: 40px;
      color: #fff;
      padding: 25px 35px;
      background-color: #1d4f6a;
      box-shadow: 4px 11px 25px 2px rgb(22, 22, 22);
      border-radius: 10px;
      &:last-child {
        margin-right: 0px;
      }
      &.disabled {
        background-color: grey;
        .label {
          color: rgb(102, 101, 101);
        }
      }
    }
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 151px;
    height: 20%;
    .icon {
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.336);
      padding: 25px;
      border-radius: 10%;
      span {
        margin: 0 15px;
        font-size: 45px;
        font-weight: bold;
      }
    }
  }
}
</style>