<template>
    <default-layout :showHeader="false">
      <div class="page-accept">
        <div class="content-center">
          <span class="payback-message"> {{ this.state.message }} </span>
          <div class="image">
            <img src="@/assets/animation/para_cekme.gif" alt="" srcset="" />
          </div>
        </div>
        <div class="button-area"></div>
      </div>
    </default-layout>
</template>

<script>
import { mapState } from "vuex";
import { PaybackActions } from "@/store/modules/payback-module.store";

export default {
  methods: {
    sendTimeout() {
      this.$store.dispatch(PaybackActions.timeout);
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.paybackmodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.page-accept {
  width: 100%;
  height: 100%;

  .content-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .image {
      margin-top: 100px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 550px !important;
      }
    }
    .payback-message {
      color: #fff;
      margin: 10px !important;
      font-size: 55px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
</style>