<template>
    <default-layout :showHeader="false">
      <div class="print">
        <div class="info-message">{{state.message}}</div>
        <div class="animation">
        <img src="@/assets/animation/makbuz.gif" alt="" srcset="">
        </div>
      </div>
    </default-layout>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      state: (state) => state.printmodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.print {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .info-message {
    color: #fff;
    font-weight: bold;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .animation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>