<template>
  <message-wrapper
    :timeout="timer.isActive"
    :time="timer.time"
    :addTimeStatus="timer.addTimeStatus"
  >
    <default-layout :headerTitle="this.state.title">
      <div class="container">
        <div class="list">
          <div
            class="box"
            v-bind:class="{
              disabled: procService.Status === 0,
            }"
            :key="procService.svcId"
            v-for="procService in this.state.svcs"
            @click="selectSvc(procService)"
          >
            <div class="label">{{ procService.Name }}</div>
          </div>
        </div>
        <div class="spacer button"></div>
      </div>
    </default-layout>
  </message-wrapper>
</template>

<script>
import { mapState } from "vuex";
import { ProcessModuleActions } from "@/constants/process-constants";

export default {
  data() {
    return {
      timer: {
        isActive: true,
        time: 15000,
        addTimeStatus: true,
      },
    };
  },
  methods: {
    selectSvc(procService) {
      if (procService.Status !== 0)
        this.$store.dispatch(ProcessModuleActions.SELECT, procService);
    },
    // back() {
    //   this.$store.dispatch(ProcessModuleActions.BACK);
    // },
    // cancel() {
    //   this.$store.dispatch(ProcessModuleActions.CANCEL);
    // },
  },
  computed: {
    ...mapState({
      state: (state) => state.processmodule,
    }),
  },
};
</script>

<style scoped lang="scss">
.container {
  flex: 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .spacer {
    flex: 2;
    &.button {
      flex: 1;
    }
  }
  .list {
    flex: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*height: 550px;*/
    overflow: auto;
    .box {
      margin: 0px 10px 18px 10px;
      padding: 15px 10px;
      border: 1px rgb(0, 110, 255) solid;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 150px;
      height: 150px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .label {
        color: darkblue;
        font-size: 16px;
        text-align: center;
      }
      &.disabled {
        background-color: grey;
        .label {
          color: rgb(102, 101, 101);
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (min-height: 1200px) {
  .spacer {
    display: none !important;
  }
  .divider {
    margin-top: 25px !important;
  }
  .box {
    margin: 10px !important;
    width: 410px !important;
    height: 200px !important;
    padding: 0 20px !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    .icon {
      img {
        width: 110px !important;
        height: 110px !important;
      }
    }
    .label {
      flex: auto !important;
      font-size: 45px !important;
      font-weight: bold;
    }
  }
}
</style>