<template>
  <div>
    <router-view />
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "App",
  created() {
    this.getScreenType();
    this.connectMessage();
  },
  methods: {
    getScreenType() {
      var ratio = screen.width / screen.height;
      this.$store.dispatch("getScreenType", ratio);
    },
    ...mapActions(["connectMessage"]),
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
  background-image: url("../assets/background.png");
  font-family: "Poppins";
  width: 100%;
  height: 100vh;
  cursor: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  &::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    display: none;
  }
}
</style>
