<template>
  <div class="table">
    <div class="table-header">
      <div class="header">
        <div class="label">Banknot</div>
        <div class="underline"></div>
      </div>
      <div class="header">
        <div class="label">ADET</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="table-content">
      <div
        class="content-box"
        :key="`${tableKey}-${index}`"
        v-for="(data, index) in items"
      >
        <div class="content">{{ data.banknot }}</div>
        <div class="content">{{ data.adet }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        tableKey: { type: String },
        items: { type: Array }
    }
};
</script>

<style lang="scss" scoped>
.table {
  color: #fff;
  width: 100%;
  height: 100%;
  .table-header {
    font-size: 35px !important;
    margin-bottom: 25px;
    display: flex;
    font-weight: bold;
    .header {
      margin-top: 0!important;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .label {
        background-color: #abb0de;
      }
      .underline {
        width: 100%;
        height: 3px !important;
        background-color: #fff;
      }
      &.red {
        background-color: red;
      }
    }
  }
  .table-content {
    .content-box {
      display: flex;
      font-size: 35px !important;
      margin: 5px 0px;
      .content {
        flex: 1;
        text-align: center;
      }
      &.selected {
        background-color: #1d4f6a;
        border-radius: 10px;
      }
    }
  }
}
</style>