<template>
  <div class="btn" @click="submit()">
    <v-icon dark color="#fff" class="icon" :size="this.iconSize">
      {{mdiIcon}}
    </v-icon>
    <span>{{label}}</span>
  </div>
</template>

<script>
export default {
    props: {
        label: { type: String },
        mdiIcon: {type: String},
        click: {type: Function},
        iconSize: {type: Number, default:64},
    },
    methods:{
      submit (){
        if (this.click !== undefined){
          this.click()
        }
        else 
          console.log("Custom Button Click Undefined")
      }
    }
};
</script>

<style lang="scss" scoped>
.btn {
  margin: 15px 10px;
  padding: 0px 50px;
  max-height: 100px;
  display: flex;
  align-items: center;
  background-color: #1d4f6a;
  border-radius: 10px;
  box-shadow: 4px 11px 25px 2px rgb(22, 22, 22);
  span {
    margin-left: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
  }
}
</style>