<template>
<div class="date-span">
    {{this.time}}
</div>
</template>

<script>
export default {
  data() {
    return {
      time: "",
      intervalID:0,
    };
  },
  mounted() {
    var options = {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "numeric",
      minute: "numeric",
      second: "numeric",
    };

    this.intervalID = setInterval(() => {
      var today = new Date();
      this.time = today.toLocaleDateString("tr-TR", options);
    }, 1000);
  },
  destroyed(){
      console.log("setInterval destroyed")
      clearInterval(this.intervalID)
  }
};
</script>

<style>
.date-span{
   
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    width: 100%;
    display:flex;
    justify-content: end;
    padding: 15px;
}
</style>
