<template>
  <div class="page">
    <div v-if="showHeader" class="header">
      <div class="logo">
        <img src="@/assets/logo.png" alt="" srcset="" />
      </div>
      <div class="header-title">
        <div class="title">
          <span>{{ title }}</span>
        </div>
        <v-spacer></v-spacer>
        <div class="divider"></div>
      </div>
    </div>

    <div class="buttons">
      <timer-button-wrapper
        class="button-box"
        v-if="this.showNext"
        :onPressed="next"
      >
        <v-btn class="mx-2" fab dark color="#fff">
          <v-icon dark color="#000"> mdi-chevron-right </v-icon>
        </v-btn>
        <div class="text">{{ nextButton }}</div>
      </timer-button-wrapper>
      <timer-button-wrapper v-if="this.showCancel" :onPressed="cancel">
        <v-btn class="mx-2" fab dark color="#ff0000">
          <v-icon dark> mdi-close </v-icon>
        </v-btn>
        <div class="text">{{ cancelButton }}</div>
      </timer-button-wrapper>
      <timer-button-wrapper
        class="button-box"
        v-if="this.showPrev"
        :onPressed="prev"
        :class="{ 'disable': backButtonDisable }"
      >
        <v-btn class="mx-2" fab dark color="#fff">
          <v-icon dark color="#000"> mdi-chevron-left </v-icon>
        </v-btn>
        <div class="text">{{ prevButton }}</div>
      </timer-button-wrapper>
    </div>

    <div class="buttons-large">
      <div class="block">
        <timer-button-wrapper
          class="button-box"
          v-show="this.showCancel"
          :onPressed="cancel"
          :class="{ 'disable': cancelButtonDisable }"
        >
          <v-btn class="mx-2" fab dark color="#ff0000">
            <v-icon dark class="icon"> mdi-close </v-icon>
          </v-btn>
          <div class="text">{{ cancelButton }}</div>
        </timer-button-wrapper>
        <timer-button-wrapper
          class="button-box"
          v-show="this.showPrev"
          :onPressed="prev"
        >
          <v-btn class="mx-2" fab dark color="#fff">
            <v-icon dark color="#000" class="icon"> mdi-chevron-left </v-icon>
          </v-btn>
          <div class="text">{{ prevButton }}</div>
        </timer-button-wrapper>
      </div>
      <timer-button-wrapper
        class="button-box next"
        v-show="this.showNext"
        :onPressed="next"
        :class="{ 'disable': nextButtonDisable }"
      >
        <div class="text">{{ nextButton }}</div>
        <v-btn class="mx-2" fab dark color="#fff">
          <v-icon dark color="#000" class="icon"> mdi-chevron-right </v-icon>
        </v-btn>
      </timer-button-wrapper>
    </div>

    <slot></slot>
  </div>
</template>

<script>
//import gsap from 'gsap'
import { mdiChevronLeft, mdiChevronRight, mdiClose } from "@mdi/js";

export default {
  props: {
    headerTitle: { type: String },
    showHeader: { type: Boolean, default: true },
    moduleName: { type: String },

    nextButtonLabel: { type: String, default: "İleri" },
    showNextButton: { type: Boolean, default: false },
    nextButtonClicked: { type: Function },
    nextButtonDisable: { type: Boolean, default: false },

    cancelButtonClicked: { type: Function },
    cancelButtonLabel: { type: String, default: "İptal" },
    showCancelButton: { type: Boolean, default: false },
    cancelButtonDisable: { type: Boolean, default: false },

    prevButtonLabel: { type: String, default: "Geri" },
    backButtonClicked: { type: Function },
    showPrevButton: { type: Boolean, default: false },
    backButtonDisable: { type: Boolean, default: false },
  },
  data() {
    return {
      title: "",
      nextButton: "",
      prevButton: "",
      cancelButton: "",
      showNext: false,
      showPrev: false,
      showCancel: false,
      leftPath: mdiChevronLeft,
      rightPath: mdiChevronRight,
      closePath: mdiClose,
    };
  },
  mounted() {
    this.title = this.headerTitle;
    this.showNext = this.showNextButton;
    this.showPrev = this.showPrevButton;
    this.showCancel = this.showCancelButton;

    // gsap.from("span", {y: -50, duration: 0.5, opacity: 0, delay: 0.2, stagger: 0.02})
    // gsap.from(".header", {y: -150, duration: 1, opacity: 0})
    // gsap.from(".buttons-large", {y: 150, duration: 1, opacity: 0})
  },
  created() {
    this.prevButton = this.prevButtonLabel;
    this.nextButton = this.nextButtonLabel;
    this.cancelButton = this.cancelButtonLabel;
  },
  methods: {
    next() {
      if (this.nextButtonClicked != undefined) {
        this.nextButtonClicked();
      }
    },
    prev() {
      if (this.backButtonClicked != undefined) {
        this.backButtonClicked();
      }
    },
    cancel() {
      if (this.cancelButtonClicked != undefined) {
        this.cancelButtonClicked();
      }
    },
  },
};
</script>

<style lang="scss">
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    .logo {
      margin: 15px 35px 15px 15px;
      width: 5rem;
      height: 5rem;
    }
    .header-title {
      padding: 20px 0;
      flex: auto;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .divider {
        height: 1px !important;
        background-color: #fff;
      }
    }
  }
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 90;
    .button-box {
      margin-bottom: 25px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.336);
      .text {
        margin-left: 18px;
        color: #fff;
      }
    }
  }
  .buttons-large {
    position: absolute;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 50px;
    z-index: 90;
    .button-box {
      width: 370px;
      height: 70px;
      margin-bottom: 25px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.336);
      .icon {
        font-size: 30px;
      }
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
        color: #fff;
        font-size: 25px;
      }
      &.next {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .buttons-large {
      display: none !important;
    }
    .header {
      .logo {
        width: 75px;
        height: 75px;
      }
    }
  }
}
@media screen and (min-height: 1200px) {
  .buttons {
    display: none !important;
  }
  .buttons-large {
    .button-box {
      width: 500px !important;
      height: 120px !important;
      border-top-left-radius: 70px !important;
      border-bottom-left-radius: 70px !important;
      border-top-right-radius: 30px !important;
      border-bottom-right-radius: 30px !important;
      .text {
        font-size: 50px !important;
        font-weight: bold;
      }
      .icon {
        font-size: 55px !important;
      }
      &.next {
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
        border-top-right-radius: 70px !important;
        border-bottom-right-radius: 70px !important;
      }
      &.disable {
        display: none;
      }
    }
  }
  .v-btn--fab.v-size--default {
    height: 120px !important;
    width: 120px !important;
  }
  .header {
    margin-top: 25px !important;
    .logo {
      margin: 15px !important;
      width: 8rem !important;
      img {
        width: 120px !important;
      }
    }
    .header-title {
      .title{
        font-weight: bold;
      font-size: 40px !important;
      }
      .divider {
        margin-top: 30px !important;
      }
    }
  }
}
</style>