<template>
  <div class="log-container">
    <div class="log-area" v-dragscroll.y="true">
      <div class="log" :key="index" v-for="(log, index) in this.logList">
        {{ log }}
      </div>
    </div>
  </div>
</template>

<script>
import { dragscroll } from "vue-dragscroll";

export default {
  directives: {
    dragscroll: dragscroll,
  },
  props: {
    logList: { type: Array },
  },
};
</script>

<style lang="scss">
.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .log-area {
    background-color: #00000093;
    width: 90%;
    overflow: hidden;
    height: 300px;
    padding: 10px;
    .log {
      color: #03a062;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
</style>