<template>
  <div class="message-box">
    <div v-if="msgType == 4" class="loading">
      <lottie-animation
        path="animations\loading.json"
        :loop="true"
        :autoPlay="true"
        :speed="1"
      />
    </div>
    <div class="content">
      {{ this.msg }}
    </div>
    <div v-if="this.showActions" class="action-area">
      <div
        v-if="this.showConfirmation"
        id="button-success"
        class="button success"
        @click="this.confirmYes"
      >
        {{ state.yesLabel }}
      </div>
      <div
        v-if="this.showConfirmation"
        class="button error"
        @click="this.reject"
      >
        {{ state.noLabel }}
      </div>
      <div v-if="this.showAlert" class="button info" @click="this.confirmOK">
        {{ state.okLabel }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import {
  MessageResponseEnum,
  MessageActionTypeEnum,
} from "@/constants/message-constants";
import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue";

export default {
  props: {
    id: { type: String, default: "0" },
    msgCode: { type: String },
    message: { type: String },
    actionType: { type: Number },
    timeout: { type: Number, default: 0 },
    responseMessage: { type: Function },
    msgType: { type: Number },
  },
  components: { LottieAnimation },
  data() {
    return {
      msg: "",
      showActions: true,
      showAlert: false,
      showConfirmation: false,
      timerId: null,
      activeTimesUp: true,
      logData: null,
    };
  },
  mounted() {
    this.msg = this.message;
    this.showActions = this.actionType != MessageActionTypeEnum.None;
    this.showAlert = this.actionType == MessageActionTypeEnum.Alert;
    this.showConfirmation =
      this.actionType == MessageActionTypeEnum.Confirmation;

    this.logData = {
      msg: this.msg,
      showActions: this.showActions,
      showAlert: this.showAlert,
      showConfirmation: this.showConfirmation,
    };
  },
  created() {
    this.startTimer();
  },
  methods: {
    startTimer() {
      if (this.timeout != 0) {
        this.timerId = setTimeout(() => {
          console.log(`${this.msg} Keklik`)
          if(this.activeTimesUp) this.timeIsOver();
        }, this.timeout);
      }
    },
    confirmOK() {
      clearTimeout(this.timerId);
      this.responseMessage(this.id, this.msgCode, MessageResponseEnum.OK);
    },
    confirmYes() {
      clearTimeout(this.timerId);
      this.responseMessage(this.id, this.msgCode, MessageResponseEnum.Yes);
    },
    reject() {
      clearTimeout(this.timerId);
      this.responseMessage(this.id, this.msgCode, MessageResponseEnum.No);
    },
    timeIsOver() {
      clearTimeout(this.timerId);
      this.responseMessage(this.id, this.msgCode, MessageResponseEnum.Timeout);
    },
  },
  destroyed() {
    console.log(`${this.msg} message destroyed`)
    this.activeTimesUp = false
  },
  computed: {
    ...mapState({
      state: (state) => state.messagemodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    white-space: pre-wrap;
  }
  .action-area {
    display: flex;
    justify-content: center;
    .button {
      margin: 0px 15px;
      width: 150px;
      height: 70px;
      font-size: 1.3rem;
      color: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
#button-success {
  background-color: #0588a6;
}
.success {
  background-color: #0588a6;
}
.error {
  background-color: #0588a6;
}
.info {
  background-color: #0588a6;
}
@media screen and (min-height: 1200px) {
  .message-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px !important;
    }
    .action-area {
      display: flex;
      justify-content: center;
      .button {
        margin: 0px 15px;
        width: 250px;
        height: 100px;
        font-size: 40px !important;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
</style>