<template>
  <div :key="state.componentKey">
    <div
      :key="message.msgId"
      v-for="(message, index) in state.messages"
      class="popup-container"
      :style="{ 'z-index': (index + 1) * 1000000000 }"
    >
      <div class="popup" :class="getClassName(message)">
        <message-container
          :path="path"
          :message="message.msg"
          :timeout="message.timeout"
          :id="message.msgId"
          :msgCode="message.msgCode"
          :responseMessage="response"
          :actionType="message.msgActType"
          :msgType="message.msgType"
        ></message-container>
      </div>
    </div>

    <slot></slot>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { MessageDisplayModeEnum } from "@/constants/message-constants";
import { MessageModuleActions } from "@/constants/message-constants";

export default {
  props: {
    time: { type: Number, default: 10000 },
    timeout: { type: Boolean, default: false },
    defaultTimeout: { type: Boolean, default: true },
    addTimeStatus: { type: Boolean, default: false },
    cancel: { type: Function },
  },
  data() {
    return {
      path: "---",
      messages: [],
    };
  },
  mounted() {
    this.$store.dispatch(MessageModuleActions.LoadTimerState, {
      time: this.time,
      addTimeStatus: this.addTimeStatus,
      cancel: this.cancel,
      defaultTimeout: this.defaultTimeout,
    });
    if (this.timeout) {
      this.$store.dispatch(MessageModuleActions.StartTimeout, {
        time: this.time,
        addTimeStatus: this.addTimeStatus,
      });
    }
  },
  destroyed() {
    console.log("destroyed");
    this.$store.dispatch(MessageModuleActions.StopTimeout);
    this.$store.dispatch(MessageModuleActions.ClearMessages);
  },
  methods: {
    getClassName(message) {
      switch (message.displayMode) {
        case MessageDisplayModeEnum.LargePopup:
          return " large";
        case MessageDisplayModeEnum.Fullscreen:
          return " fullscreen";
        default:
          return "";
      }
    },
    response(msgId, msgCode, responseState) {
      this.$store.dispatch("messagemodule/responseMessage", {
        time: this.time,
        msgCode,
        responseState,
        addTimeStatus: this.addTimeStatus,
      });
    },
  },
  computed: {
    ...mapState({
      state: (state) => state.messagemodule,
    }),
  },
};
</script>

<style lang="scss" scoped>
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500000;
  .popup {
    width: 40%;
    height: 32%;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    &.large {
      width: 80%;
      height: 60%;
    }

    &.fullscreen {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        height: 25%;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
@media screen and (min-height: 1200px) {
  .popup {
    width: 60% !important;
    height: 25% !important;
    .loading {
      span {
        font-size: 40px !important;
      }
    }
  }
}
</style>