<template>
  <div class="number-pad">
    <div :key="num" v-for="num in this.numbers">
      <div
        class="number"
        :ref="`btn${num}`"
        v-bind:class="{
          pressed: selectedNumber == num,
          unvisible: num == 99,
          clear: num == 100,
        }"
        @click="num == 100 ? clearAll() : enter(num)"
      >
        <span v-if="num == 100">Sil </span>
        <span v-else>{{ num }}</span>
      </div>
    </div>
  </div>
</template>

<script>
//import gsap from 'gsap'
import { mdiArrowLeft } from "@mdi/js";

export default {
  props: {
    onPressed: { type: Function },
    clear: { type: Function },
  },
  data() {
    return {
      numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 99, 0, 100],
      svgPath: mdiArrowLeft,
      selectedNumber: -25,
      selectedKeyword: "",
    };
  },
  mounted() {
    // eslint-disable-next-line no-unused-vars
    //const { btn1, btn2, btn3, btn4, btn5, btn6, btn7, btn8, btn9, btn0, btn100 } = this.$refs
    
    // gsap.from(btn1, { x: 160, y: 160, delay: 0.1, duration: 0.3})
    // gsap.from(btn2, { x: 0, y: 160, delay: 0.2, duration: 0.3 })
    // gsap.from(btn3, { x: -160, y: 160, delay: 0.3,  duration: 0.3})
    // gsap.from(btn4, { x: 160, y: 0, delay: 0.4,  duration: 0.3 })
    // gsap.from(btn5, { x: 0, y: 0, delay: 0.4})
    // gsap.from(btn6, { x: -160, y: 0, delay: 0.5,  duration: 0.3, opacity: 0 })
    // gsap.from(btn7, { x: 160, y: -160, delay: 0.6,  duration: 0.3, opacity: 0 })
    // gsap.from(btn8, { x: 0, y: -160, delay: 0.7, duration: 0.3, opacity: 0 })
    // gsap.from(btn9, { x: -160, y: -160, delay: 0.8,  duration: 0.3, opacity: 0 })
    // gsap.from(btn0,  { x: 50, y: -75, delay: 0.8, opacity: 0, duration: 0.2 })
    // gsap.from(btn100, { x: -50, y: -75, delay: 0.8, opacity: 0, duration: 0.2 })
  },
  methods: {
    clearAll() {
      this.clear();
    },
    enter(data) {
      if (data == -2) return;

      this.onPressed(data);

      // For animation
      this.selectedNumber = data;
      setTimeout(() => (this.selectedNumber = -1), 150);
    },
  },
};
</script>

<style lang="scss" scoped>
.number-pad {
  margin-top: 25px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .number {
    font-size: 30px;
    margin: 5px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #002277;
    background-color: #fff;
    transition: 0.25s;
    &.center {
      background-color: #bbd8f6;
      z-index: 99;
    }
    &.pressed {
      background-color: #00227700;
      color: #ffffff;
    }
    &.unvisible {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      color: rgba(255, 255, 255, 0);
    }
    &.clear {
      background-color: rgb(255, 166, 0);
      color: #fff !important;
    }
  }
}

@media screen and (min-height: 1200px) {
  .number-pad {
    width: 600px !important;
    margin-top: 100px !important;
    .number {
      font-size: 55px !important;
      margin: 15px !important;
      width: 130px !important;
      height: 130px !important;
      border-radius: 50% !important;
      font-weight: bold;
      &.unvisible {
        display: none;
      }
    }
  }
}
</style>