<template>
  <div @click="clicked()">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    onPressed: { type: Function },
    time: { type: Number, default: 3000 },
  },
  data() {
    return {
      isEnabled: true,
    };
  },
  methods: {
    clicked() {
      if (this.isEnabled && this.onPressed != undefined) {
        this.onPressed();
        this.isEnabled = false;
        setTimeout(() => {
          this.isEnabled = true;
        }, this.time);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>